/* Declaração das cores como variáveis */
:root {
    --color-white: #FFFFFF;
    --color-latte: #FFF8E8;
    --color-orange: #E7874B;
    --color-tomato: #F16251;
    --color-black: #000000; 
}

/* Estilização para backgrounds */

.bg-latte {
    background-color: var(--color-latte);
}

.bg-img{
    background-image: url(../images/background/bg1.png);
    /* background-size: contain; */
    background-repeat: no-repeat;
}

.bg-orange{
    background-color: var(--color-orange);
    z-index: 1;
}

.min-height{
    min-height: 80vh;
}
/* Estilização dos títulos h2 */

.title-1 {
    background-color: white;
    padding: .3em;
    max-width: 100%;
    border-radius: 50px;
    border: solid black 2px;
    box-shadow: 0 5px black;
}

/* Estilização de botões */

.btn-author {
    color: var(--color-black);
}

.btn-author:hover {
    color: blue;
}

/* Estilização do texto */
.text-justify {
    text-align: justify;
}

.navbar-toggler {
    border: 0 !important;
}

.carousel-control-next, .carousel-control-prev {
    background-color: #000000;
    width: 3%;
    height: 10%;
    margin: auto;
}